.view-select {
  border-radius: 5px;
  border: 1px solid $color-white-300;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
  }

  & label {
    align-self: start;
    padding: 4px 24px;
    color: $color-purple-500;
    font: $typography-toggle;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    text-align: center;
  }

  & input:checked + label {
    background-color: $color-purple-500;
    color: $color-white-50;
  }
}
