$typography-tagline: 500 16px/1.6 $font-family;
$typography-heading-1: 700 48px/1.25 $font-family;
$typography-input-placeholder: 400 16px/1 $font-family;
$typography-heading-2: 700 32px/1.4 $font-family;
$typography-button: 700 14px/170% $font-family;
$typography-toggle: $typography-button;
$typography-heading-3: 700 20px/1.4 $font-family;

$typography-card-title: $typography-heading-3;
$typography-card-description: 400 16px/1.6 $font-family;
$typography-card-location: 400 16px/1.6 $font-family;
