$color-white-50: #ffffff;
$color-white-100: #f8f8ff;
$color-white-200: #f4f4ff;
$color-white-300: #eaeaea;
$color-white-400: #858793;
$color-white-700: #7c7c8a;

$color-black-50: #000000;
$color-black-50-75: rgba($color-black-50, $alpha: 0.75); //.75
$color-black-200: #121214;

$color-purple-500: #6246EA;
$color-purple-600: #543BCF;
$color-purple-700: #4730B4;
$color-purple-800: #3A2698;
$color-purple-900: #2D1D7B;
$color-purple-500-20: rgba($color-purple-500, 0.2); //.20

$color-red: #e45858;
